ID2208 -  Programming Web-Services/Project/WSDLs_No_types_defined/ClickAndPledgeAPIProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://ClickAndPledge.com/PaymentService/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="https://ClickAndPledge.com/PaymentService/">
    <wsp:Policy wsu:Id="basicHttpEndpoint_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false" />
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="https://ClickAndPledge.com/PaymentService/Imports">
            <xsd:import schemaLocation="https://paas.cloud.clickandpledge.com/PaymentService.svc?xsd=xsd0" namespace="https://ClickAndPledge.com/PaymentService/" />
            <xsd:import schemaLocation="https://paas.cloud.clickandpledge.com/PaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
            <xsd:import schemaLocation="https://paas.cloud.clickandpledge.com/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IPaymentService_Operation_InputMessage">
        <wsdl:part name="parameters" element="tns:Operation" />
    </wsdl:message>
    <wsdl:message name="IPaymentService_Operation_OutputMessage">
        <wsdl:part name="parameters" element="tns:OperationResponse" />
    </wsdl:message>
    <wsdl:message name="IPaymentService_OperationBase64Encode_InputMessage">
        <wsdl:part name="parameters" element="tns:OperationBase64Encode" />
    </wsdl:message>
    <wsdl:message name="IPaymentService_OperationBase64Encode_OutputMessage">
        <wsdl:part name="parameters" element="tns:OperationBase64EncodeResponse" />
    </wsdl:message>
    <wsdl:message name="IPaymentService_Echo_InputMessage">
        <wsdl:part name="parameters" element="tns:Echo" />
    </wsdl:message>
    <wsdl:message name="IPaymentService_Echo_OutputMessage">
        <wsdl:part name="parameters" element="tns:EchoResponse" />
    </wsdl:message>
    <wsdl:portType name="IPaymentService">
        <wsdl:operation name="Operation">
            <wsdl:input wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/Operation" message="tns:IPaymentService_Operation_InputMessage" />
            <wsdl:output wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/OperationResponse" message="tns:IPaymentService_Operation_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="OperationBase64Encode">
            <wsdl:input wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/OperationBase64Encode" message="tns:IPaymentService_OperationBase64Encode_InputMessage" />
            <wsdl:output wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/OperationBase64EncodeResponse" message="tns:IPaymentService_OperationBase64Encode_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="Echo">
            <wsdl:input wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/Echo" message="tns:IPaymentService_Echo_InputMessage" />
            <wsdl:output wsaw:Action="https://ClickAndPledge.com/PaymentService/IPaymentService/EchoResponse" message="tns:IPaymentService_Echo_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="basicHttpEndpoint" type="tns:IPaymentService">
        <wsp:PolicyReference URI="#basicHttpEndpoint_policy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Operation">
            <soap:operation soapAction="https://ClickAndPledge.com/PaymentService/IPaymentService/Operation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OperationBase64Encode">
            <soap:operation soapAction="https://ClickAndPledge.com/PaymentService/IPaymentService/OperationBase64Encode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Echo">
            <soap:operation soapAction="https://ClickAndPledge.com/PaymentService/IPaymentService/Echo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentService">
        <wsdl:port name="basicHttpEndpoint" binding="tns:basicHttpEndpoint">
            <soap:address location="https://paas.cloud.clickandpledge.com/PaymentService.svc" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
