ID2208 -  Programming Web-Services/Project/WSDLs_No_types_defined/IcepayAPIProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="connect.icepay.com" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ICEPAY" targetNamespace="connect.icepay.com">
   <wsp:Policy wsu:Id="BasicHttpBinding_IICEPAY_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="false" />
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:types>
      <xsd:schema targetNamespace="connect.icepay.com/Imports">
         <xsd:import schemaLocation="https://connect.icepay.com/webservice/ICEPAY.svc?xsd=xsd0" namespace="connect.icepay.com" />
         <xsd:import schemaLocation="https://connect.icepay.com/webservice/ICEPAY.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
         <xsd:import schemaLocation="https://connect.icepay.com/webservice/ICEPAY.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
         <xsd:import schemaLocation="https://connect.icepay.com/webservice/ICEPAY.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APIService" />
         <xsd:import schemaLocation="https://connect.icepay.com/webservice/ICEPAY.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/APIService.Responses" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="IICEPAY_Checkout_InputMessage">
      <wsdl:part name="parameters" element="tns:Checkout" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_Checkout_OutputMessage">
      <wsdl:part name="parameters" element="tns:CheckoutResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_Checkout_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_SMSCheckout_InputMessage">
      <wsdl:part name="parameters" element="tns:SMSCheckout" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_SMSCheckout_OutputMessage">
      <wsdl:part name="parameters" element="tns:SMSCheckoutResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_SMSCheckout_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneCheckout_InputMessage">
      <wsdl:part name="parameters" element="tns:PhoneCheckout" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneCheckout_OutputMessage">
      <wsdl:part name="parameters" element="tns:PhoneCheckoutResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneCheckout_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneDirectCheckout_InputMessage">
      <wsdl:part name="parameters" element="tns:PhoneDirectCheckout" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneDirectCheckout_OutputMessage">
      <wsdl:part name="parameters" element="tns:PhoneDirectCheckoutResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_PhoneDirectCheckout_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidatePhoneCode_InputMessage">
      <wsdl:part name="parameters" element="tns:ValidatePhoneCode" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidatePhoneCode_OutputMessage">
      <wsdl:part name="parameters" element="tns:ValidatePhoneCodeResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidatePhoneCode_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidateSmsCode_InputMessage">
      <wsdl:part name="parameters" element="tns:ValidateSmsCode" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidateSmsCode_OutputMessage">
      <wsdl:part name="parameters" element="tns:ValidateSmsCodeResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_ValidateSmsCode_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPayment_InputMessage">
      <wsdl:part name="parameters" element="tns:GetPayment" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPayment_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetPaymentResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPayment_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPremiumRateNumbers_InputMessage">
      <wsdl:part name="parameters" element="tns:GetPremiumRateNumbers" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPremiumRateNumbers_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetPremiumRateNumbersResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetPremiumRateNumbers_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/System" name="detail" element="q8:Exception" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetMyPaymentMethods_InputMessage">
      <wsdl:part name="parameters" element="tns:GetMyPaymentMethods" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetMyPaymentMethods_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetMyPaymentMethodsResponse" />
   </wsdl:message>
   <wsdl:message name="IICEPAY_GetMyPaymentMethods_ExceptionFault_FaultMessage">
      <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/System" name="detail" element="q9:Exception" />
   </wsdl:message>
   <wsdl:portType name="IICEPAY">
      <wsdl:operation name="Checkout">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/Checkout" message="tns:IICEPAY_Checkout_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/CheckoutResponse" message="tns:IICEPAY_Checkout_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/CheckoutExceptionFault" name="ExceptionFault" message="tns:IICEPAY_Checkout_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="SMSCheckout">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/SMSCheckout" message="tns:IICEPAY_SMSCheckout_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/SMSCheckoutResponse" message="tns:IICEPAY_SMSCheckout_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/SMSCheckoutExceptionFault" name="ExceptionFault" message="tns:IICEPAY_SMSCheckout_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="PhoneCheckout">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/PhoneCheckout" message="tns:IICEPAY_PhoneCheckout_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/PhoneCheckoutResponse" message="tns:IICEPAY_PhoneCheckout_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/PhoneCheckoutExceptionFault" name="ExceptionFault" message="tns:IICEPAY_PhoneCheckout_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="PhoneDirectCheckout">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/PhoneDirectCheckout" message="tns:IICEPAY_PhoneDirectCheckout_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/PhoneDirectCheckoutResponse" message="tns:IICEPAY_PhoneDirectCheckout_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/PhoneDirectCheckoutExceptionFault" name="ExceptionFault" message="tns:IICEPAY_PhoneDirectCheckout_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="ValidatePhoneCode">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/ValidatePhoneCode" message="tns:IICEPAY_ValidatePhoneCode_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/ValidatePhoneCodeResponse" message="tns:IICEPAY_ValidatePhoneCode_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/ValidatePhoneCodeExceptionFault" name="ExceptionFault" message="tns:IICEPAY_ValidatePhoneCode_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="ValidateSmsCode">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/ValidateSmsCode" message="tns:IICEPAY_ValidateSmsCode_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/ValidateSmsCodeResponse" message="tns:IICEPAY_ValidateSmsCode_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/ValidateSmsCodeExceptionFault" name="ExceptionFault" message="tns:IICEPAY_ValidateSmsCode_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="GetPayment">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/GetPayment" message="tns:IICEPAY_GetPayment_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/GetPaymentResponse" message="tns:IICEPAY_GetPayment_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/GetPaymentExceptionFault" name="ExceptionFault" message="tns:IICEPAY_GetPayment_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="GetPremiumRateNumbers">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/GetPremiumRateNumbers" message="tns:IICEPAY_GetPremiumRateNumbers_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/GetPremiumRateNumbersResponse" message="tns:IICEPAY_GetPremiumRateNumbers_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/GetPremiumRateNumbersExceptionFault" name="ExceptionFault" message="tns:IICEPAY_GetPremiumRateNumbers_ExceptionFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="GetMyPaymentMethods">
         <wsdl:input wsaw:Action="connect.icepay.com/IICEPAY/GetMyPaymentMethods" message="tns:IICEPAY_GetMyPaymentMethods_InputMessage" />
         <wsdl:output wsaw:Action="connect.icepay.com/IICEPAY/GetMyPaymentMethodsResponse" message="tns:IICEPAY_GetMyPaymentMethods_OutputMessage" />
         <wsdl:fault wsaw:Action="connect.icepay.com/IICEPAY/GetMyPaymentMethodsExceptionFault" name="ExceptionFault" message="tns:IICEPAY_GetMyPaymentMethods_ExceptionFault_FaultMessage" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BasicHttpBinding_IICEPAY" type="tns:IICEPAY">
      <wsp:PolicyReference URI="#BasicHttpBinding_IICEPAY_policy" />
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Checkout">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/Checkout" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="SMSCheckout">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/SMSCheckout" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="PhoneCheckout">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/PhoneCheckout" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="PhoneDirectCheckout">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/PhoneDirectCheckout" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ValidatePhoneCode">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/ValidatePhoneCode" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ValidateSmsCode">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/ValidateSmsCode" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetPayment">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/GetPayment" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetPremiumRateNumbers">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/GetPremiumRateNumbers" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetMyPaymentMethods">
         <soap:operation soapAction="connect.icepay.com/IICEPAY/GetMyPaymentMethods" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="ExceptionFault">
            <soap:fault name="ExceptionFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ICEPAY">
      <wsdl:port name="BasicHttpBinding_IICEPAY" binding="tns:BasicHttpBinding_IICEPAY">
         <soap:address location="https://connect.icepay.com/webservice/ICEPAY.svc" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>