ID2208 -  Programming Web-Services/Project/SAWSDL/_filmvideomediaDiscoveryChannel_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Filmvideomedia" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:03 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#Film"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#VideoMedia"/></xsd:annotation><xsd:element name="Film" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_filmvideomediaDiscoveryChannel_service_Film_liftingSchemaMapping.xslt" type="FilmType"/><xsd:element name="VideoMedia" type="VideoMediaType"/><xsd:complexType name="FilmType" sawsdl:modelReference="http://127.0.0.1/ontology/my_ontology.owl#Film"><xsd:sequence><xsd:element name="Title"/></xsd:sequence></xsd:complexType><xsd:simpleType name="VideoMediaType" sawsdl:modelReference="http://127.0.0.1/ontology/my_ontology.owl#VideoMedia"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FILM_VIDEOMEDIAResponse">
    <wsdl:part name="_FILM" type="FilmType">
    </wsdl:part>
    <wsdl:part name="_VIDEOMEDIA" type="VideoMediaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_FILM_VIDEOMEDIARequest">
  </wsdl:message>
  <wsdl:portType name="FilmvideomediaSoap">
    <wsdl:operation name="get_FILM_VIDEOMEDIA">
      <wsdl:input message="get_FILM_VIDEOMEDIARequest">
    </wsdl:input>
      <wsdl:output message="get_FILM_VIDEOMEDIAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilmvideomediaSoapBinding" type="FilmvideomediaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FILM_VIDEOMEDIA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmvideomediaService">
    <wsdl:port name="FilmvideomediaSoap" binding="FilmvideomediaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Filmvideomedia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
