ID2208 -  Programming Web-Services/Project/SAWSDL/_filmDiscovery_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Film" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Film" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Film" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Film-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Film" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Film" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:03 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#Film"/></xsd:annotation><xsd:element name="Film" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_filmDiscovery_service_Film_liftingSchemaMapping.xslt" type="FilmType"/><xsd:complexType name="FilmType" sawsdl:modelReference="http://127.0.0.1/ontology/my_ontology.owl#Film"><xsd:sequence><xsd:element name="Title"/></xsd:sequence></xsd:complexType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FILMRequest">
  </wsdl:message>
  <wsdl:message name="get_FILMResponse">
    <wsdl:part name="_FILM" type="FilmType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FilmSoap">
    <wsdl:operation name="get_FILM">
      <wsdl:input message="get_FILMRequest">
    </wsdl:input>
      <wsdl:output message="get_FILMResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilmSoapBinding" type="FilmSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FILM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Film"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Film"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmService">
    <wsdl:port name="FilmSoap" binding="FilmSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Film"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
