ID2208 -  Programming Web-Services/Project/SAWSDL/_medicaldoctor_UNOservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Medicaldoctor" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:37:03 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#MedicalDoctor"/></xsd:annotation><xsd:element name="MedicalDoctor" type="MedicalDoctorType"/><xsd:simpleType name="MedicalDoctorType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#MedicalDoctor"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_MEDICALDOCTORResponse">
    <wsdl:part name="_MEDICALDOCTOR" type="MedicalDoctorType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_MEDICALDOCTORRequest">
  </wsdl:message>
  <wsdl:portType name="MedicaldoctorSoap">
    <wsdl:operation name="get_MEDICALDOCTOR">
      <wsdl:input message="get_MEDICALDOCTORRequest">
    </wsdl:input>
      <wsdl:output message="get_MEDICALDOCTORResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedicaldoctorSoapBinding" type="MedicaldoctorSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_MEDICALDOCTOR">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicaldoctorService">
    <wsdl:port name="MedicaldoctorSoap" binding="MedicaldoctorSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Medicaldoctor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
