ID2208 -  Programming Web-Services/Project/SAWSDL/_person_MyShopservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Person" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Person" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Person" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Person-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Person" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Person" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:37:11 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/></xsd:annotation><xsd:element name="Person" type="PersonType"/><xsd:simpleType name="PersonType" sawsdl:modelReference="http://127.0.0.1/ontology/books.owl#Person"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PERSONRequest">
  </wsdl:message>
  <wsdl:message name="get_PERSONResponse">
    <wsdl:part name="_PERSON" type="PersonType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonSoap">
    <wsdl:operation name="get_PERSON">
      <wsdl:input message="get_PERSONRequest">
    </wsdl:input>
      <wsdl:output message="get_PERSONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonSoapBinding" type="PersonSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PERSON">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Person"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Person"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="PersonSoap" binding="PersonSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Person"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
