ID2208 -  Programming Web-Services/Project/SAWSDL/_polling_Germanservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Polling" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Polling" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Polling" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Polling-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Polling" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Polling" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:38 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Polling"/></xsd:annotation><xsd:element name="Polling" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_polling_Germanservice_Polling_liftingSchemaMapping.xslt" type="PollingType"/><xsd:simpleType name="PollingType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#Polling"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_POLLINGRequest">
  </wsdl:message>
  <wsdl:message name="get_POLLINGResponse">
    <wsdl:part name="_POLLING" type="PollingType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PollingSoap">
    <wsdl:operation name="get_POLLING">
      <wsdl:input message="get_POLLINGRequest">
    </wsdl:input>
      <wsdl:output message="get_POLLINGResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PollingSoapBinding" type="PollingSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_POLLING">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Polling"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Polling"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PollingService">
    <wsdl:port name="PollingSoap" binding="PollingSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Polling"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
