ID2208 -  Programming Web-Services/Project/SAWSDL/academic-degree_scholarship_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Academic-degreeScholarship" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:05 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Academic-Degree"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"/></xsd:annotation><xsd:element name="Scholarship" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/academic-degree_scholarship_GermanGovservice_Scholarship_liftingSchemaMapping.xslt" type="ScholarshipType"/><xsd:element name="Academic-Degree" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/academic-degree_scholarship_GermanGovservice_Academic-Degree_liftingSchemaMapping.xslt" type="Academic-DegreeType"/><xsd:simpleType name="Academic-DegreeType" sawsdl:modelReference="http://127.0.0.1/ontology/portal.owl#Academic-Degree"><xsd:restriction base="xsd:string"><xsd:enumeration value="BA"/><xsd:enumeration value="MA"/><xsd:enumeration value="PhD"/><xsd:enumeration value="BSc"/><xsd:enumeration value="DEng"/><xsd:enumeration value="MSc"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="ScholarshipType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_SCHOLARSHIPResponse">
    <wsdl:part name="_SCHOLARSHIP" type="ScholarshipType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_SCHOLARSHIPRequest">
    <wsdl:part name="_ACADEMIC-DEGREE" type="Academic-DegreeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Academic-degreeScholarshipSoap">
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdl:input message="get_SCHOLARSHIPRequest">
    </wsdl:input>
      <wsdl:output message="get_SCHOLARSHIPResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Academic-degreeScholarshipSoapBinding" type="Academic-degreeScholarshipSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_SCHOLARSHIP">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Academic-degreeScholarshipService">
    <wsdl:port name="Academic-degreeScholarshipSoap" binding="Academic-degreeScholarshipSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Academic-degreeScholarship"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
