ID2208 -  Programming Web-Services/Project/SAWSDL/addressDistanceCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.strikeiron.com">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
			<s:element name="AddressToAddressDistance">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Location1" type="tns:AddressInput"/>
						<s:element minOccurs="0" maxOccurs="1" name="Location2" type="tns:AddressInput"/>
						<s:element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="tns:UnitOfMeasure"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AddressInput">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" sawsdl:modelReference="http://127.0.0.1/ontology/protonu.owl#Address"/>
					<s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" sawsdl:modelReference="http://127.0.0.1/ontology/protonu.owl#Address"/>
					<s:element minOccurs="0" maxOccurs="1" name="city_state_zip" type="s:string" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#PostalCode"/>
					<s:element minOccurs="1" maxOccurs="1" name="country" type="tns:CountryCode" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#ISOCountryCode"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="CountryCode" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#ISOCountryCode">
				<s:restriction base="s:string">
					<s:enumeration value="US"/>
					<s:enumeration value="CA"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="UnitOfMeasure" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#UnitMeasure">
				<s:restriction base="s:string">
					<s:enumeration value="Miles" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#InternationalMileLengthUnit"/>
					<s:enumeration value="NauticalMiles" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#NauticalMileLengthUnit"/>
					<s:enumeration value="Meters" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#MeterLengthUnit"/>
					<s:enumeration value="Kilometers" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#KilometerLengthUnit"/>
					<s:enumeration value="Yards" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#InternationalYardLengthUnit"/>
				</s:restriction>
			</s:simpleType>
			<s:element name="AddressToAddressDistanceResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="AddressToAddressDistanceResult" type="s:double" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#GeographicDistance"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ResponseInfo" type="tns:ResponseInfo"/>
			<s:complexType name="ResponseInfo">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#Code"/>
					<s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#Text"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
		<xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
			<xs:complexType name="LicenseInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
					<xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnregisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="EmailAddress" type="xs:string" sawsdl:modelReference="http://127.0.0.1/ontology/protonu.owl#EMail"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisteredUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserID" type="xs:string" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#UniqueIdentifier"/>
					<xs:element minOccurs="0" name="Password" type="xs:string" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#Text"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
			<xs:complexType name="SubscriptionInfo">
				<xs:sequence>
					<xs:element name="LicenseStatusCode" type="xs:int" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#Code"/>
					<xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
					<xs:element name="LicenseActionCode" type="xs:int" sawsdl:modelReference="http://127.0.0.1/ontology/geographydataset.owl#Code"/>
					<xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
					<xs:element name="RemainingHits" type="xs:int" sawsdl:modelReference="http://127.0.0.1/ontology/SUMO.owl#Integer"/>
					<xs:element name="Amount" type="xs:decimal" sawsdl:modelReference="http://127.0.0.1/ontology/SUMO.owl#PhysicalQuantity"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AddressToAddressDistanceSoapIn">
		<wsdl:part name="parameters" element="tns:AddressToAddressDistance"/>
	</wsdl:message>
	<wsdl:message name="AddressToAddressDistanceSoapOut">
		<wsdl:part name="parameters" element="tns:AddressToAddressDistanceResponse"/>
	</wsdl:message>
	<wsdl:message name="AddressToAddressDistanceResponseInfo">
		<wsdl:part name="ResponseInfo" element="tns:ResponseInfo"/>
	</wsdl:message>
	<wsdl:message name="LicenseInfoMessage">
		<wsdl:part name="LicenseInfo" element="q3:LicenseInfo" xmlns:q3="http://ws.strikeiron.com"/>
	</wsdl:message>
	<wsdl:message name="SubscriptionInfoMessage">
		<wsdl:part name="SubscriptionInfo" element="q4:SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com"/>
	</wsdl:message>
	<wsdl:portType name="AddressDistanceCalculatorSoap">
		<wsdl:operation name="AddressToAddressDistance">
			<wsdl:input message="tns:AddressToAddressDistanceSoapIn"/>
			<wsdl:output message="tns:AddressToAddressDistanceSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressDistanceCalculatorSoap" type="tns:AddressDistanceCalculatorSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddressToAddressDistance">
			<soap:operation soapAction="http://www.strikeiron.com/AddressToAddressDistance" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:AddressToAddressDistanceResponseInfo" part="ResponseInfo" use="literal"/>
				<soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressDistanceCalculator">
		<wsdl:port name="AddressDistanceCalculatorSoap" binding="tns:AddressDistanceCalculatorSoap">
			<soap:address location="http://ws.strikeiron.com/StrikeIron/AddressDistanceCalculator"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
