ID2208 -  Programming Web-Services/Project/SAWSDL/Apothecary_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Getdruginformation" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:34:38 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/ApothecaryOntology.owl#Treatment"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/ApothecaryOntology.owl#Drug"/></xsd:annotation><xsd:element name="Treatment" type="TreatmentType"/><xsd:element name="Drug" type="DrugType"/><xsd:simpleType name="TreatmentType" sawsdl:modelReference="http://127.0.0.1/ontology/ApothecaryOntology.owl#Treatment"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="DrugType" sawsdl:modelReference="http://127.0.0.1/ontology/ApothecaryOntology.owl#Drug"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getGetDrugInformation_RequiredDrugsResponse">
    <wsdl:part name="GetDrugInformation_RequiredDrugs" type="DrugType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGetDrugInformation_RequiredDrugsRequest">
    <wsdl:part name="GetDrugInformation_TreatmentIInformation" type="TreatmentType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetdruginformationSoap">
    <wsdl:operation name="getGetDrugInformation_RequiredDrugs">
      <wsdl:input message="getGetDrugInformation_RequiredDrugsRequest">
    </wsdl:input>
      <wsdl:output message="getGetDrugInformation_RequiredDrugsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetdruginformationSoapBinding" type="GetdruginformationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getGetDrugInformation_RequiredDrugs">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetdruginformationService">
    <wsdl:port name="GetdruginformationSoap" binding="GetdruginformationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Getdruginformation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
