ID2208 -  Programming Web-Services/Project/SAWSDL/apple_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ApplePrice" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:08 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Apple"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/></xsd:annotation><xsd:element name="Price" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/apple_price_service_Price_liftingSchemaMapping.xslt" type="PriceType"/><xsd:element name="Apple" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/apple_price_service_Apple_liftingSchemaMapping.xslt" type="AppleType"/><xsd:complexType name="PriceType" sawsdl:modelReference="http://127.0.0.1/ontology/concept.owl#Price"><xsd:sequence><xsd:element name="currency" type="Currency"/><xsd:element name="amount" type="xsd:float"/></xsd:sequence></xsd:complexType><xsd:simpleType name="Currency" sawsdl:modelReference="http://www.daml.ecs.soton.ac.uk/ont/currency.owl#Currency"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="AppleType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#Apple"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PRICEResponse">
    <wsdl:part name="_PRICE" type="PriceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PRICERequest">
    <wsdl:part name="_APPLE" type="AppleType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ApplePriceSoap">
    <wsdl:operation name="get_PRICE">
      <wsdl:input message="get_PRICERequest">
    </wsdl:input>
      <wsdl:output message="get_PRICEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplePriceSoapBinding" type="ApplePriceSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PRICE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplePriceService">
    <wsdl:port name="ApplePriceSoap" binding="ApplePriceSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/ApplePrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
