ID2208 -  Programming Web-Services/Project/WSDLs/E-xactAPIProfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/encodedTypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/encodedTypes">
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ExactID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Transaction_Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DollarAmount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SurchargeAmount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Card_Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Transaction_Tag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Track1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Track2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PAN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Authorization_Num" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry_Date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CardHoldersName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VerificationStr1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VerificationStr2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CVD_Presence_Ind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax1Amount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax1Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax2Amount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax2Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Secure_AuthRequired" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Secure_AuthResult" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ecommerce_Flag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CAVV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CAVV_Algorithm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reference_No" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Customer_Ref" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reference_3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Client_IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Client_Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionResult">
        <s:complexContent mixed="false">
          <s:extension base="s0:Transaction">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LogonMessage" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Error_Number" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Error_Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Transaction_Error" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Transaction_Approved" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="EXact_Resp_Code" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EXact_Message" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Bank_Resp_Code" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Bank_Message" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Bank_Resp_Code_2" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SequenceNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AVS" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CVV2" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Retrieval_Ref_No" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CAVV_Response" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantCity" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantProvince" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantCountry" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantPostal" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MerchantURL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CTR" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendAndCommitSoapIn">
    <wsdl:part name="SendAndCommitSource" type="s0:Transaction" />
  </wsdl:message>
  <wsdl:message name="SendAndCommitSoapOut">
    <wsdl:part name="SendAndCommitResult" type="s0:TransactionResult" />
  </wsdl:message>
  <wsdl:message name="TransactionInfoSoapIn">
    <wsdl:part name="TransactionInfoSource" type="s0:Transaction" />
  </wsdl:message>
  <wsdl:message name="TransactionInfoSoapOut">
    <wsdl:part name="TransactionInfoResult" type="s0:TransactionResult" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SendAndCommit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">E-xact Transactions Ltd. RPC/Encoded Transaction VPlug-in for One-stage Processing</documentation>
      <wsdl:input message="tns:SendAndCommitSoapIn" />
      <wsdl:output message="tns:SendAndCommitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransactionInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">E-xact Transactions Ltd. RPC/Encoded Transaction VPlug-in for Retrieving Securely Stored Transactional Information</documentation>
      <wsdl:input message="tns:TransactionInfoSoapIn" />
      <wsdl:output message="tns:TransactionInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="SendAndCommit">
      <soap:operation soapAction="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/SendAndCommit" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/Request" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/Response" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionInfo">
      <soap:operation soapAction="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/TransactionInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/Request" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/Response" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://api.e-xact.com/transaction/v8" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
