ID2208 -  Programming Web-Services/Project/WSDLs/IntellivativeAPIProfile.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://ws.subscriberinfo.intellivative.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.subscriberinfo.intellivative.com" xmlns:intf="http://ws.subscriberinfo.intellivative.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.subscriberinfo.intellivative.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isEnrolled">
    <complexType>
     <sequence>
      <element name="subscriberID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isEnrolledResponse">
    <complexType>
     <sequence>
      <element name="isEnrolledReturn" type="impl:SubscriberInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SubscriberInfo">
    <sequence>
     <element name="paymentToken" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="subscriberID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="exportAllRecords">
    <complexType>
     <sequence>
      <element name="fileName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exportAllRecordsResponse">
    <complexType>
     <sequence>
      <element name="exportAllRecordsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exportAllRecordsRequest">

      <wsdl:part element="impl:exportAllRecords" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isEnrolledRequest">

      <wsdl:part element="impl:isEnrolled" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="exportAllRecordsResponse">

      <wsdl:part element="impl:exportAllRecordsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isEnrolledResponse">

      <wsdl:part element="impl:isEnrolledResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SubscriberInfoWS">

      <wsdl:operation name="isEnrolled">

         <wsdl:input message="impl:isEnrolledRequest" name="isEnrolledRequest"/>

         <wsdl:output message="impl:isEnrolledResponse" name="isEnrolledResponse"/>

      </wsdl:operation>

      <wsdl:operation name="exportAllRecords">

         <wsdl:input message="impl:exportAllRecordsRequest" name="exportAllRecordsRequest"/>

         <wsdl:output message="impl:exportAllRecordsResponse" name="exportAllRecordsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SubscriberInfoWSSoapBinding" type="impl:SubscriberInfoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isEnrolled">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isEnrolledRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isEnrolledResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportAllRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportAllRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportAllRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SubscriberInfoWSService">

      <wsdl:port binding="impl:SubscriberInfoWSSoapBinding" name="SubscriberInfoWS">

         <wsdlsoap:address location="http://localhost:8080/SubscriberInfoWS/services/SubscriberInfoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
