ID2208 -  Programming Web-Services/Project/WSDLs/Looking4ParkingAPIProfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCarParkVendorInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vendorID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarParkVendorInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarParkVendorInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCarParkVendorInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarParkVendorInformation" />
  </wsdl:message>
  <wsdl:message name="GetCarParkVendorInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarParkVendorInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarParkVendorInformationHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="vendorID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCarParkVendorInformationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCarParkVendorInformationHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="vendorID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCarParkVendorInformationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="InformationWebServiceSoap">
    <wsdl:operation name="GetCarParkVendorInformation">
      <wsdl:input message="tns:GetCarParkVendorInformationSoapIn" />
      <wsdl:output message="tns:GetCarParkVendorInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InformationWebServiceHttpGet">
    <wsdl:operation name="GetCarParkVendorInformation">
      <wsdl:input message="tns:GetCarParkVendorInformationHttpGetIn" />
      <wsdl:output message="tns:GetCarParkVendorInformationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InformationWebServiceHttpPost">
    <wsdl:operation name="GetCarParkVendorInformation">
      <wsdl:input message="tns:GetCarParkVendorInformationHttpPostIn" />
      <wsdl:output message="tns:GetCarParkVendorInformationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformationWebServiceSoap" type="tns:InformationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarParkVendorInformation">
      <soap:operation soapAction="http://tempuri.org/GetCarParkVendorInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformationWebServiceSoap12" type="tns:InformationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarParkVendorInformation">
      <soap12:operation soapAction="http://tempuri.org/GetCarParkVendorInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformationWebServiceHttpGet" type="tns:InformationWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCarParkVendorInformation">
      <http:operation location="/GetCarParkVendorInformation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformationWebServiceHttpPost" type="tns:InformationWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCarParkVendorInformation">
      <http:operation location="/GetCarParkVendorInformation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformationWebService">
    <wsdl:port name="InformationWebServiceSoap" binding="tns:InformationWebServiceSoap">
      <soap:address location="https://webservice.looking4parking.com/informationwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="InformationWebServiceSoap12" binding="tns:InformationWebServiceSoap12">
      <soap12:address location="https://webservice.looking4parking.com/informationwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="InformationWebServiceHttpGet" binding="tns:InformationWebServiceHttpGet">
      <http:address location="https://webservice.looking4parking.com/informationwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="InformationWebServiceHttpPost" binding="tns:InformationWebServiceHttpPost">
      <http:address location="https://webservice.looking4parking.com/informationwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>