ID2208 -  Programming Web-Services/Project/WSDLs/TrafficViolatorsAPIProfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.trafficviolators.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.trafficviolators.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.trafficviolators.com">
      <s:element name="enterRegistrationNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Regno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cellNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enterRegistrationNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enterRegistrationNoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enterRegistrationNo2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Regno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="city" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="violationType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cellNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enterRegistrationNo2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enterRegistrationNo2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="enterRegistrationNoSoapIn">
    <wsdl:part name="parameters" element="tns:enterRegistrationNo" />
  </wsdl:message>
  <wsdl:message name="enterRegistrationNoSoapOut">
    <wsdl:part name="parameters" element="tns:enterRegistrationNoResponse" />
  </wsdl:message>
  <wsdl:message name="enterRegistrationNo2SoapIn">
    <wsdl:part name="parameters" element="tns:enterRegistrationNo2" />
  </wsdl:message>
  <wsdl:message name="enterRegistrationNo2SoapOut">
    <wsdl:part name="parameters" element="tns:enterRegistrationNo2Response" />
  </wsdl:message>
  <wsdl:portType name="enterViolationSoap">
    <wsdl:operation name="enterRegistrationNo">
      <wsdl:input message="tns:enterRegistrationNoSoapIn" />
      <wsdl:output message="tns:enterRegistrationNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enterRegistrationNo2">
      <wsdl:input message="tns:enterRegistrationNo2SoapIn" />
      <wsdl:output message="tns:enterRegistrationNo2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="enterViolationSoap" type="tns:enterViolationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enterRegistrationNo">
      <soap:operation soapAction="http://www.trafficviolators.com/enterRegistrationNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enterRegistrationNo2">
      <soap:operation soapAction="http://www.trafficviolators.com/enterRegistrationNo2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="enterViolationSoap12" type="tns:enterViolationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enterRegistrationNo">
      <soap12:operation soapAction="http://www.trafficviolators.com/enterRegistrationNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enterRegistrationNo2">
      <soap12:operation soapAction="http://www.trafficviolators.com/enterRegistrationNo2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="enterViolation">
    <wsdl:port name="enterViolationSoap" binding="tns:enterViolationSoap">
      <soap:address location="http://www.trafficviolators.com/DesktopModules/TrafficViolatorsV2/WebServices/enterViolation.asmx" />
    </wsdl:port>
    <wsdl:port name="enterViolationSoap12" binding="tns:enterViolationSoap12">
      <soap12:address location="http://www.trafficviolators.com/DesktopModules/TrafficViolatorsV2/WebServices/enterViolation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>