ID2208 - Programming Web-Services/Homework 2/HW2Client/xml-resources/web-service-references/FlightReservationServiceBottomUp/wsdl/localhost_8080/FlightReservationServiceBottomUp/FlightReservationServiceBottomUp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://hw2.id2208.mattec.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hw2.id2208.mattec.se/">

<xs:element name="UnauthorizedException" type="tns:UnauthorizedException"/>

<xs:element name="getItinearies" type="tns:getItinearies"/>

<xs:element name="getItineariesResponse" type="tns:getItineariesResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnauthorizedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItinearies">
<xs:sequence>
<xs:element name="authToken" type="xs:string" minOccurs="0"/>
<xs:element name="departureCity" type="xs:string" minOccurs="0"/>
<xs:element name="destinationCity" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItineariesResponse">
<xs:sequence>
<xs:element name="return" type="tns:itineary" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itineary">
<xs:sequence>
<xs:element name="departureCity" type="xs:string" minOccurs="0"/>
<xs:element name="destinationCity" type="xs:string" minOccurs="0"/>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="departureCity" type="xs:string" minOccurs="0"/>
<xs:element name="destinationCity" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>