ID2208 - Programming Web-Services/Homework 2/HW2Client/src/META-INF/wsdl/localhost_8080/FlightReservationServiceBottomUp/FlightReservationServiceBottomUp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hw2.id2208.mattec.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hw2.id2208.mattec.se/" name="FlightReservationServiceBottomUp">
<types>
<xsd:schema>
<xsd:import namespace="http://hw2.id2208.mattec.se/" schemaLocation="http://localhost:8080/FlightReservationServiceBottomUp/FlightReservationServiceBottomUp?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="getItinearies">
<part name="parameters" element="tns:getItinearies"/>
</message>
<message name="getItineariesResponse">
<part name="parameters" element="tns:getItineariesResponse"/>
</message>
<portType name="FlightReservationServiceBottomUp">
<operation name="login">
<input wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/loginRequest" message="tns:login"/>
<output wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/login/Fault/UnauthorizedException"/>
</operation>
<operation name="getItinearies">
<input wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/getItineariesRequest" message="tns:getItinearies"/>
<output wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/getItineariesResponse" message="tns:getItineariesResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://hw2.id2208.mattec.se/FlightReservationServiceBottomUp/getItinearies/Fault/UnauthorizedException"/>
</operation>
</portType>
<binding name="FlightReservationServiceBottomUpPortBinding" type="tns:FlightReservationServiceBottomUp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="getItinearies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightReservationServiceBottomUp">
<port name="FlightReservationServiceBottomUpPort" binding="tns:FlightReservationServiceBottomUpPortBinding">
<soap:address location="http://localhost:8080/FlightReservationServiceBottomUp/FlightReservationServiceBottomUp"/>
</port>
</service>
</definitions>