ID2208 - Programming Web-Services/Project/SAWSDL/__luxuryhotel_Heidelburgservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel-impl" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Luxuryhotel" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel">
   <wsdl:types>
      <xsd:schema version="OWLS2WSDL Wed Sep 22 14:35:25 CEST 2010">
         <xsd:annotation>
            <xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/travel.owl#LuxuryHotel" />
         </xsd:annotation>
         <xsd:element name="LuxuryHotel" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/__luxuryhotel_Heidelburgservice_LuxuryHotel_liftingSchemaMapping.xslt" type="LuxuryHotelType" />
         <xsd:complexType name="LuxuryHotelType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#LuxuryHotel">
            <xsd:choice>
               <xsd:element name="luxuryHotelID" type="LuxuryHotelDATA" />
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="name" type="xsd:string" />
                  <xsd:element name="hasRating" type="LuxuryHotelAccommodationRating" />
               </xsd:sequence>
            </xsd:choice>
         </xsd:complexType>
         <xsd:complexType name="AccommodationRating" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#AccommodationRating">
            <xsd:choice>
               <xsd:element name="accommodationRatingID" type="AccommodationRatingDATA" />
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="name" type="xsd:string" />
               </xsd:sequence>
            </xsd:choice>
         </xsd:complexType>
         <xsd:complexType name="LuxuryHotelAccommodationRating" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#AccommodationRating">
            <xsd:complexContent>
               <xsd:restriction base="AccommodationRating">
                  <xsd:choice>
                     <xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA" />
                     <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string" />
                     </xsd:sequence>
                  </xsd:choice>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:simpleType name="LuxuryHotelAccommodationRatingDATA" sawsdl:modelReference="">
            <xsd:restriction base="AccommodationRatingDATA">
               <xsd:enumeration value="ThreeStarRating" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LuxuryHotelDATA" sawsdl:modelReference="">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="FourSeasons" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="AccommodationRatingDATA" sawsdl:modelReference="">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="TwoStarRating" />
               <xsd:enumeration value="OneStarRating" />
               <xsd:enumeration value="ThreeStarRating" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="get_LUXURYHOTELResponse">
      <wsdl:part name="_LUXURYHOTEL" type="LuxuryHotelType" />
   </wsdl:message>
   <wsdl:message name="get_LUXURYHOTELRequest" />
   <wsdl:portType name="LuxuryhotelSoap">
      <wsdl:operation name="get_LUXURYHOTEL">
         <wsdl:input message="get_LUXURYHOTELRequest" />
         <wsdl:output message="get_LUXURYHOTELResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="LuxuryhotelSoapBinding" type="LuxuryhotelSoap">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="get_LUXURYHOTEL">
         <wsdlsoap:operation soapAction="" />
         <wsdl:input>
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" />
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="LuxuryhotelService">
      <wsdl:port name="LuxuryhotelSoap" binding="LuxuryhotelSoapBinding">
         <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Luxuryhotel" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>