ID2208 - Programming Web-Services/Project/SAWSDL/_comedyfilmactionfilm_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Comedyfilmactionfilm" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:50 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#ComedyFilm"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#ActionFilm"/></xsd:annotation><xsd:element name="ActionFilm" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_comedyfilmactionfilm_service_ActionFilm_liftingSchemaMapping.xslt" type="ActionFilmType"/><xsd:element name="ComedyFilm" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_comedyfilmactionfilm_service_ComedyFilm_liftingSchemaMapping.xslt" type="ComedyFilmType"/><xsd:complexType name="ActionFilmType" sawsdl:modelReference="http://127.0.0.1/ontology/my_ontology.owl#ActionFilm"><xsd:sequence><xsd:element name="Title"/></xsd:sequence></xsd:complexType><xsd:complexType name="ComedyFilmType" sawsdl:modelReference="http://127.0.0.1/ontology/my_ontology.owl#ComedyFilm"><xsd:sequence><xsd:element name="Title"/></xsd:sequence></xsd:complexType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_COMEDYFILM_ACTIONFILMRequest">
  </wsdl:message>
  <wsdl:message name="get_COMEDYFILM_ACTIONFILMResponse">
    <wsdl:part name="_COMEDYFILM" type="ComedyFilmType">
    </wsdl:part>
    <wsdl:part name="_ACTIONFILM" type="ActionFilmType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ComedyfilmactionfilmSoap">
    <wsdl:operation name="get_COMEDYFILM_ACTIONFILM">
      <wsdl:input message="get_COMEDYFILM_ACTIONFILMRequest">
    </wsdl:input>
      <wsdl:output message="get_COMEDYFILM_ACTIONFILMResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComedyfilmactionfilmSoapBinding" type="ComedyfilmactionfilmSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_COMEDYFILM_ACTIONFILM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComedyfilmactionfilmService">
    <wsdl:port name="ComedyfilmactionfilmSoap" binding="ComedyfilmactionfilmSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Comedyfilmactionfilm"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
