ID2208 - Programming Web-Services/Project/SAWSDL/_publication_PPservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Publication" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Publication" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Publication" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Publication-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Publication" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Publication" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:36:17 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Publication"/></xsd:annotation><xsd:element name="Publication" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/_publication_PPservice_Publication_liftingSchemaMapping.xslt" type="PublicationType"/><xsd:simpleType name="PublicationType" sawsdl:modelReference="http://127.0.0.1/ontology/SUMO.owl#Publication"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_PUBLICATIONResponse">
    <wsdl:part name="_PUBLICATION" type="PublicationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_PUBLICATIONRequest">
  </wsdl:message>
  <wsdl:portType name="PublicationSoap">
    <wsdl:operation name="get_PUBLICATION">
      <wsdl:input message="get_PUBLICATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_PUBLICATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicationSoapBinding" type="PublicationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_PUBLICATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Publication"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Publication"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationService">
    <wsdl:port name="PublicationSoap" binding="PublicationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Publication"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
