ID2208 - Programming Web-Services/Project/SAWSDL/_skilledoccupation_BMWservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Skilledoccupation" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:13 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#SkilledOccupation"/></xsd:annotation><xsd:element name="SkilledOccupation" type="SkilledOccupationType"/><xsd:simpleType name="SkilledOccupationType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#SkilledOccupation"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_SKILLEDOCCUPATIONResponse">
    <wsdl:part name="_SKILLEDOCCUPATION" type="SkilledOccupationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_SKILLEDOCCUPATIONRequest">
  </wsdl:message>
  <wsdl:portType name="SkilledoccupationSoap">
    <wsdl:operation name="get_SKILLEDOCCUPATION">
      <wsdl:input message="get_SKILLEDOCCUPATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_SKILLEDOCCUPATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkilledoccupationSoapBinding" type="SkilledoccupationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_SKILLEDOCCUPATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkilledoccupationService">
    <wsdl:port name="SkilledoccupationSoap" binding="SkilledoccupationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Skilledoccupation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
