ID2208 - Programming Web-Services/Project/SAWSDL/_USjudge_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Judge" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/Judge" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/Judge" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/Judge-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/Judge" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/Judge" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:37:04 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Judge"/></xsd:annotation><xsd:element name="Judge" type="JudgeType"/><xsd:simpleType name="JudgeType" sawsdl:modelReference="http://127.0.0.1/ontology/Mid-level-ontology.owl#Judge"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_JUDGEResponse">
    <wsdl:part name="_JUDGE" type="JudgeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_JUDGERequest">
  </wsdl:message>
  <wsdl:portType name="JudgeSoap">
    <wsdl:operation name="get_JUDGE">
      <wsdl:input message="get_JUDGERequest">
    </wsdl:input>
      <wsdl:output message="get_JUDGEResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JudgeSoapBinding" type="JudgeSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_JUDGE">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Judge"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/Judge"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JudgeService">
    <wsdl:port name="JudgeSoap" binding="JudgeSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/Judge"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
