ID2208 - Programming Web-Services/Project/SAWSDL/activity_familydestination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ActivityFamilydestination" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:06 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Activity"/><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/travel.owl#FamilyDestination"/></xsd:annotation><xsd:element name="FamilyDestination" sawsdl:liftingSchemaMapping="http://127.0.0.1/services/liftingSchemaMappings/activity_familydestination_service_FamilyDestination_liftingSchemaMapping.xslt" type="FamilyDestinationType"/><xsd:element name="Activity" type="ActivityType"/><xsd:complexType name="FamilyDestinationType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#FamilyDestination"><xsd:sequence><xsd:element minOccurs="2" name="hasActivity" type="ActivityType"/><xsd:element name="hasAccommodation" type="Accommodation"/></xsd:sequence></xsd:complexType><xsd:simpleType name="ActivityType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#Activity"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="Accommodation" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#Accommodation"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FAMILYDESTINATIONRequest">
    <wsdl:part name="_ACTIVITY" type="ActivityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_FAMILYDESTINATIONResponse">
    <wsdl:part name="_FAMILYDESTINATION" type="FamilyDestinationType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ActivityFamilydestinationSoap">
    <wsdl:operation name="get_FAMILYDESTINATION">
      <wsdl:input message="get_FAMILYDESTINATIONRequest">
    </wsdl:input>
      <wsdl:output message="get_FAMILYDESTINATIONResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivityFamilydestinationSoapBinding" type="ActivityFamilydestinationSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FAMILYDESTINATION">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityFamilydestinationService">
    <wsdl:port name="ActivityFamilydestinationSoap" binding="ActivityFamilydestinationSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFamilydestination"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
