ID2208 - Programming Web-Services/Project/SAWSDL/activity_urbanarea_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ActivityUrbanarea" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:06 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Activity"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#UrbanArea"/></xsd:annotation><xsd:element name="UrbanArea" type="UrbanAreaType"/><xsd:element name="Activity" type="ActivityType"/><xsd:simpleType name="ActivityType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#Activity"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="UrbanAreaType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#UrbanArea"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_URBANAREAResponse">
    <wsdl:part name="_URBANAREA" type="UrbanAreaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_URBANAREARequest">
    <wsdl:part name="_ACTIVITY" type="ActivityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ActivityUrbanareaSoap">
    <wsdl:operation name="get_URBANAREA">
      <wsdl:input message="get_URBANAREARequest">
    </wsdl:input>
      <wsdl:output message="get_URBANAREAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivityUrbanareaSoapBinding" type="ActivityUrbanareaSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_URBANAREA">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityUrbanareaService">
    <wsdl:port name="ActivityUrbanareaSoap" binding="ActivityUrbanareaSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/ActivityUrbanarea"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
