ID2208 - Programming Web-Services/Project/SAWSDL/activity_farmland_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ActivityFarmland" targetNamespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland" xmlns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema version="OWLS2WSDL Wed Sep 22 14:33:06 CEST 2010" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Activity"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Farmland"/></xsd:annotation><xsd:element name="Activity" type="ActivityType"/><xsd:element name="Farmland" type="FarmlandType"/><xsd:simpleType name="ActivityType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#Activity"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="FarmlandType" sawsdl:modelReference="http://127.0.0.1/ontology/travel.owl#Farmland"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_FARMLANDRequest">
    <wsdl:part name="_ACTIVITY" type="ActivityType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_FARMLANDResponse">
    <wsdl:part name="_FARMLAND" type="FarmlandType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ActivityFarmlandSoap">
    <wsdl:operation name="get_FARMLAND">
      <wsdl:input message="get_FARMLANDRequest">
    </wsdl:input>
      <wsdl:output message="get_FARMLANDResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivityFarmlandSoapBinding" type="ActivityFarmlandSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get_FARMLAND">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityFarmlandService">
    <wsdl:port name="ActivityFarmlandSoap" binding="ActivityFarmlandSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1/services/sawsdl_wsdl11/ActivityFarmland"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
